@model IEnumerable<REP001.Comun.BO.Person>

@{
    ViewBag.Title = "_PersonSearchPartial";
}

<div>

    <div class="editor-label">
          
            @Html.Label("Persona")
        </div>
        <div class="editor-field">

        <select id="ddlperson">
            <option value="0">Seleccione</option>

            @foreach ( var item in Model ) {
                <option value="@(item.ID)">@item.Name  @item.LastName</option>
            }
        
        </select>
        </div>
    

</div>